/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2016, 11:43:28 AM
    Author     : nick & wes
*/
html{
  border-style:solid;
  font-family: arial;
}
img{
  display: block; 
  margin: 0 auto;
}

h1{
  text-align: center;
}

main{
  margin-left: 2em;
  margin-right: 2em;
  border-style: solid;
  border-color: red;
  padding: 1em;
  
}


.firstName{
margin-right: 3em;
}
.lastName{
  margin-right: 3.05em
}
.email{
  margin-right: 5.4em;
}
.bookTitle{
 margin-right: 3.5em;
 
}
.bookTitle2{
  padding-right: 5em;
}
.checkout{
 margin-left:9.45em;
  
}
input{
margin-top: .3em;
}

footer{
  border-top: solid;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-color: darkblue;
}
p{
  margin-left: 1.5em;
}
/*
copyright:2016, Nick Richu

*/